* {
	outline: none;
}
table {
	border: 0.1px solid #ccc;
	border-collapse: collapse;
	table-layout: fixed;
	padding: 0;
	margin: 0;
}

.no, .info {
	width: 3em;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	background: #eee;
	font-size: xx-small;
}

.source, .target {
	width: 100%;
	word-wrap: break-word;
	white-space: pre-line;
	word-break: break-all;
	padding: 1em 0;
}

.target {
	-webkit-user-modify: read-write-plaintext-only;
}

.done {
	background-image: linear-gradient(90deg, green 50%, transparent 0%);
}
.warn {
	background-image: linear-gradient(0deg, red 50%, transparent 0%);
}
.done.warn {
	background-image: linear-gradient(90deg, #0f0c 50%, transparent 0%),linear-gradient(0deg, #f00c 50%, transparent 0%);
}

caption {
	background-image: linear-gradient(90deg,red,yellow,green,blue,pulper);
}

.target::before {
	content: attr(data-before);
	display: block;
	transform: translateY(-100%);
	background-color: white;
	position: absolute;

}

#tip td {
	background-image: linear-gradient(to bottom, #eee 80%, transparent);
	font-size: 0.9em;
}
#tip td div{
	height: 100px;
	overflow-y: auto;
}
#tip td:nth-child(1), #tip td:nth-child(4) {
	width: 3em;
}
#tip td:nth-child(2), #tip td:nth-child(3) {
	width: 100%;
}