<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1, maximum-scale=1">
<title></title>
<link rel="stylesheet" href="index.css">
<script src="socket.io.min.js"></script>
<script src="vue.min.js"></script>
</head>
<body>
	<form id="app">
		<table>
			<tbody>
				<tr>
					<td><label for="filename">filename</label></td>
					<td><input id="filename" v-model="filename"></td>
				</tr>
				<tr>
					<td><label for="url">url</label></td>
					<td><input id="url" v-model="url"></td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<td>filename</td>
					<td>url</td>
					<td>unwatch</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="w in ws">
					<td v-text="w.filename"></td>
					<td v-text="w.url"></td>
					<td>
						<button
							v-bind:data-filename="filename"
							v-bind:data-url="url"
							v-on:click="unwatch"
							>unwatch</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
<script src="index.js"></script>
</html>